Django<2.1.0
django-filter<2.0.0
django_tenants==2.0.0
django-tenant-users<1.0.0
django-money<1.0.0
graphene-django<3.0.0
graphene-django-subscriptions==0.0.4
django-graphql-jwt==0.1.10
iso8601==0.1.12

# dependencies for graphene-django-subscriptions==0.0.3
djangorestframework==3.8.2
channels==1.1.8
