Django<2.0.0
django-filter<2.0.0
django-tenant-schemas<2.0.0
django-tenant-users<1.0.0
django-money<1.0.0
graphene-django<3.0.0
graphene-django-subscriptions==0.0.3

# dependencies for graphene-django-subscriptions==0.0.3
djangorestframework==3.6.4
